* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

/* boot css */

.container {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w33 {
    width: 33.3%;
}

.w50 {
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

/* estilização */

header{
    padding: 20px 0;
    background-color: #000000;
    color: white;
}

header.logo {
    font-size: 23px;
}

header ul {
    list-style-type: none;
}

.mobile {
    display: none;
}

nav.desktop li {
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 15px;
    display: inline-block;
    font-weight: 400;
}

nav.desktop a {
    color: white;
    text-decoration: none;
}

/* banner-principal */

.banner-principal {
    height: calc(100vh - 60px);
    background-image: url('../img/bg-banner.webp');
    background-position: 0 60%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    position: relative;
}

.banner-principal::after {
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    
}

.banner-principal form {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.banner-principal form h2 {
    color: white;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 20px;
}

.banner-principal form input[type = 'email'] {
    display: block;
    width: 100%;
    padding: 10px;
    background: none;
    border: 2px solid #FFF;
    border-radius: 2px;
    margin-bottom: 20px;
}

.banner-principal form input[type = 'email']:focus {
    outline: none;
}

.banner-principal form input[type = 'submit']{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #FFF;
    color: #000000;
    border: 0;
    font-size: 18px;
    cursor: pointer;
}

/* description */

.descricao-autor .container, .especialidades .container, .extras .container {
    padding: 20px 60px;
    margin: 64px auto 0;
}

.descricao-autor h2, .container h2.title {
    margin-bottom: 30px;
    font-size: 42px;
    position: relative;
}

.descricao-autor h2::before, .container h2.title::before {
    content: "";
    display: block;
    position:absolute;
    border: solid 5px #000000;
    width: 50px;
    top: 150%;
}

.descricao-autor h2 + p{
    margin-top: 80px;
}

.descricao-autor p {
    line-height: 160%;
}

.descricao-autor .container-image {
    text-align: center;
}

.descricao-autor img {
    display: inline-block;
    height: 380px;
}

/* Especialidades */

.especialidades {
    margin: 60px 0 0px;
}

.especialidades h2 {
    margin-bottom: 60px;
}

.especialidades-wrapper {
    display: flex;
    gap: 30px;
}

.box-especialidade {
    margin-top: 80px;
    padding: 30px;
    text-align: center;
    border: solid 5px #000000;
}

.box-especialidade i {
    font-size: 64px;
    margin-bottom: 30px;
}

.box-especialidade h3 {
    font-size: 28px;
    margin-bottom: 30px;
}

.box-especialidade p {
    text-align: justify;
}

/* Depoimentos e Serviçoes */

.depoimentos-wrapper {
    margin-right: 50px;
}

.depoimentos-single:nth-child(1), .servicos > ul:nth-child(1) {
    margin-top: 80px;
}

.depoimentos-single, .servicos > ul li {
    line-height: 150%;
    margin-bottom: 30px;
}

/* footer */

footer {
    text-align: center;
    color: white;
    background-color: #000000;
    padding: 30px;
}


/* media querys */

@media screen and (max-width: 860px) {
    .w50, .w33 {
        width: 100%;
    }

    .especialidades-wrapper {
        flex-wrap: wrap;
    }
}

